.header {
    text-align: center;
}

.card-style {
  box-shadow: 0.1em 0.3em 0.3em 0.1em rgba(0, 0, 0, 0.3);
  margin-top: 100px;
  margin-left: 300px;
  margin-right: 300px;
}

.body-style {
    margin: 50px;
}

.submit-style {
    float: right;
    margin-top: 30px;
}

.close {
    text-align: right;
    margin-top: 30px;
    margin-right: 30px;
    cursor: pointer;
}
