.table-style {
    box-shadow: 0.1em 0.3em 0.3em 0.1em rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 20px;
    padding: 5px;
}

.funnel {
    float: right;
    cursor: pointer;
}

.trash-position {
    text-align: center;
}

.title-style {
    position: absolute;
    margin-top: 8px;
}
